body {
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0; /* Remove default body margin */
    min-height: 100vh; /* Ensure full height of the viewport */
    background-color: lightblue;
    display: flex; /* Use flexbox to align items vertically */
    flex-direction: column; /* Stack children vertically */

    font-family: "fira-light", sans-serif;
}


header {
    text-align: center;
    font-size: 24px;
    background-color: lightgray;
    width: 100%;
}

nav {
    display: flex; /* Display the nav items in a row */
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    justify-content: space-between;
    margin: 0 100px;
}


main {
    display:grid;
    
}

#information{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* width: 760px; */
    
    width: 50%;
    text-align: center;
    color: #FFFFFF;

    /*color: #605BA3;*/
    font-size: 25px;

    padding: 15px;
    border-radius: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 5;

}

#profile-picture{
    transition: all 0.7s ease-in-out;
    max-width: 100%;
    height: auto;
}


#profile-picture:hover{
    transform: rotate(360deg);
}


#about-me-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    text-align: center;
}


.tech-list-title{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
}

.tech-list{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-border{
    width: 200px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    border: 2px solid #007bff;
    border-radius: 10px;
    display:flex; 
    align-items: center;
    justify-content: space-around;

    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

/* .box-border a p{
    text-decoration: none;
} */


.box-border a{
    /* display:inline; */
    /* align-items: center; */
    text-decoration: none;
    
}

.box-border a p{
    /* display:inline; */
    /* align-items: center; */
    text-decoration: none;
    
}

.tech-list img{
    width: 24px;
    height: 24px;
}

footer {
    margin-top: auto; /* Push the footer to the bottom of the container */
    background-color: lightgray;
    width: 100%;
}

.icon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}



.nav-link.active img{
    max-width: 50px;
    height: auto;
}